<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="">

<p>Introduce los campos del jugador:</p>
<p>Nombre: <input type="text" ng-model="nombre"></p>
<p>Fecha: <input type="date" ng-model="fecha"></p>
<p>Puntos: <input type="number" ng-model="puntos"></p>
<p>Rebotes: <input type="number" ng-model="rebotes"></p>
<p>Asistencias: <input type="number" ng-model="asistencias"></p>
<p>Posicion: <input type="text" ng-model="posicion"></p>
<div>
  Datos Jugador:
  <p>Nombre: {{nombre}}</p>
  <p>Fecha: {{fecha}}</p>
  <p>Puntos: {{puntos}}</p>
  <p>Rebotes: {{rebotes}}</p>
  <p>Asistencias: {{asistencias}}</p>
  <p>{{posicion}}</p>
</div>

</div>

</body>
</html>
